@charset "UTF-8";

@import '../foundation/variables.scss';

.content {
  box-sizing: border-box;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  padding: 20px;

  &__inner {
    width: 1200px;
    margin: 0 auto;
  }
}
