@charset "UTF-8";

.room-list {
  list-style: none;
  margin: 30px auto 0;
}

.room-list__item {
  padding: 10px 0;
  border-bottom: solid 1px #ccc;

  &:last-child {
    border-bottom: none;
  }
}

.room-list__link {
  display: block;
}

.room-list__title {
  margin: 0;
}
